body{
	font-family:"Helvetica", "Arial", "Sans-Serif";
	background-color:#49545B;
	color:#fff;
	height:100%;
}
#header{
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	background-color:#D6D6D6;
	font-size:30px;
	font-weight:bold;
	padding:30px;
	text-align:center;
	color:#49545B;
}
#main{
	margin:auto;
	margin-top:70px;
	width:960px;
}
#content{
	margin-top:10px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
	background-color:#D6D6D6;
	font-size:12px;
	font-weight:bold;
	padding:10px;
	text-align:center;
	color:#49545B;
}

img{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	background-color:#49545B;
	overflow:hidden;
}

#footer{
	font-size:9px;
	text-align:right;
}

#user_nav{
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-radius: 0px 10px 0px 10px;
	border-radius: 0px 10px 0px 10px;
	background-color:#49545B;
	font-size:10px;
	padding:3px 5px 3px 5px;
	float:right;
	border:1px solid #D6D6D6;
}

#table_links{
	text-align:left;
	font-weight:normal;
	font-size:12px;
}

td{
	font-size:11px;
}

#table_links th{
	text-align:center;
}

tr.even td{
	padding:5px;
	background-color:#bbb;
}

tr.odd td{
	padding:5px;
}

.longone{
	width:6	00px;
}

.shortone{
	width:240px;
	text-align:center;
}

.titolo{
	width:300px;
}