
<% if user_signed_in?%>
	
		<% if Link.where("user_id"  => current_user.id).count != 0%>
			<h1> Your links [<%= link_to ("<em>refresh</em>").html_safe, {:controller  => 'links', :action  => 'home'}, :remote  => true %>]</h1>
			<div id="table_links">
				<%= render :partial => 'links' %>
			</div>
		<% else %>
			You don't have any links yet
		<% end %>
	
<% else %>

	1. Drag this ->
	<a href="javascript:var%20e=document.createElement('script');e.setAttribute('language','javascript');e.setAttribute('src','<%= BASE_URL %>i/'+encodeURIComponent(location.href));document.body.appendChild(e);void(0);">link-cut</a> <- link to your toolbar<br />
	2. Create an account on this site (feel free to use a fake email address)<br />
	3. Surf the internet<br />
	4. Click on the bookmarklet in your browser's toolbar to shorten and/or store a link (wait for the slow server to respond)<br />
	5. Visit this site to manage and view all your links<br />
	6. Enjoy your life.<br />
	<br />
	This page is pretty damn empty, so here you have a picture of a horny dog:<br /><br />
	<img src="/images/goat.jpg"></img><br /><br />

	<div id="footer">visit me at <a href="http://www.zhereicome.com/experiments">zhereicome/experiments</a></div>

<% end %>