<div id="main">
	
	<div id="header">jShorter</div>
<div id="content">
1. Drag the link to the 
<a href="javascript:var%20e=document.createElement('script');e.setAttribute('language','javascript');e.setAttribute('src','<%= BASE_URL %>'+encodeURIComponent(location.href));document.body.appendChild(e);void(0);">jShorter</a> to you toolbar<br />
2. Click it whenever you want to send a link which is too long<br />
3. Copy the shorter link and send it<br />
4. Go to the bar and have a beer<br />
5. Thank you
</div>
</div>