Drag this:

<a href="javascript:var%20e=document.createElement('script');e.setAttribute('language','javascript');e.setAttribute('src','<%= BASE_URL %>'+encodeURIComponent(location.href));document.body.appendChild(e);void(0);">jShorten</a>